{{ define "html" -}}
  {{- if eq (len .Data.Pages) 0 -}}
    {{- template "redirect" index .Data.legacy_id 0 -}}
  {{- else if eq (len .Data.Pages) 1 -}}
    {{- template "redirect" index .Data.Pages 0 -}}
  {{- else -}}
    {{- template "html:default" . -}}
  {{- end -}}
{{- end }}

{{ define "main" }}
  <div class="padding highlightable">
    <div id="body-inner">
      <h1>Seite nicht gefunden</h1>
      <div class="notices info">
        <p>Diese Seite gibt es nicht mehr. Die früher hier zu findenden Inhalte
        wurden auf die im folgenden aufgelisteten Seiten verteilt.</p>
      </div>

      {{ range .Data.Pages -}}
        <h2><a href={{ .RelPermalink }}>{{ .Title }}</a></h2>
        <p>{{ .Summary }}</p>
      {{- end }}
    </div>
  </div>
{{ end }}

{{ define "redirect" -}}
<!DOCTYPE html>
<html>
  <head>
  </head>
    <meta http-equiv="refresh" content="0; url={{ .RelPermalink }}">
  <body>
  </body>
</html>
{{- end }}

