{{ $date_format_string := "2.1.2006, 15:04:05" }}

{{/* range sort (.Resources.Match "*.md") "Params.title" "asc"*/}}
{{ with sort (.Resources.Match "*.md") "Params.title" "asc" }}
   <!--p style = "margin-top: 1.5rem; background: var(--MAIN-COMMENT-HEADER-BG-color);"><b>
<!--   Kommentar{{- if gt (len .) 1 -}}e{{- end -}}: -->
<!--   Ein paar Stimmen dazu: -->
<!--   Gedanken zum Bild -->
<!--   Nutzermeinung{{- if gt (len .) 1 -}}en{{- end -}}
   </b></p -->
   {{ range . }}
      <div style = "margin-top: 1.5rem; margin-bottom: 2rem;">
         <p id = "{{anchorize (path.Base .)}}"
            style = "margin-top: 1.5rem; background: var(--MAIN-COMMENT-HEADER-BG-color);">
            <i class="far fa-comment"
               style = "margin-left: 0.3rem; margin-right: 0.2rem;
                        transform: scaleX(-1); -webkit-transform: scaleX(-1);"
            ></i> <b>{{ delimit .Params.uploadBy ", " }}</b>
            <small>({{- dateFormat $date_format_string .Params.Date -}})</small>
         </p>
         <div style = "margin-left: 0.8rem;">
            {{.Content}}
         </div>
      </div>
<!--a href="#{{anchorize (path.Base .)}}">Test</a> -->
   {{ end }}
{{ end }}

{{/* Alternatives Icon für Kommentar
   <i class="fas fa-thumbtack"></i>
   <i class="fas fa-paperclip"></i>
   <i class="fas fa-pen-square"></i>
   <i class="fas fa-pen-fancy"></i>
   <i class="far fa-comment"></i>
   <i class="fas fa-comment"></i>
   <i class="fas fa-pencil-alt"></i>
   <i class="fas fa-fish"></i>
*/}}