    {{ $keywords := .Params.schlagworte }}
    {{ if $keywords }}
          {{ if not (in $keywords "OPTIONAL") }}
       <p><b>Schlagworte:</b> 
          {{ $dot := false }}
          {{ range $index, $keyword := $keywords }}
            {{- if gt $index 0 -}}, {{ end -}}
            <a href="{{ $.Site.BaseURL }}schlagworte/{{ $keyword | urlize}}">{{ $keyword -}}</a>
            {{- $dot = strings.HasSuffix $keyword "." -}}
        {{- end -}}
   {{- if not $dot -}}
      .
   {{ end }}
   </p>
        {{ end }}
    {{ end }}
