<h1>{{ .Title }}</h1>
<figure class="bilderpool-image">
   <img src="{{- .RelPermalink -}}{{- .Page.Params.Picture -}}">
   <figcaption>
      <small>
         {{ partial "gallery/figure-caption" . }}
      </small>
   </figcaption>
</figure>
<small>
   {{ partial "gallery/keywords.html" . }}
</small>
{{ .Content }}
{{ partial "gallery/custom-comments.html" . }}
