{{ define "main" }}

   {{ $indexPage := "gallery-index" }}

   <div class="padding highlightable">
      {{ partial "topbar.html" . }}
      <div id="body-inner">
         {{ partial "gallery/one-image.html" . }}
      </div>

      <div id="navigation">
         {{ with .NextInSection }}
            {{ if eq .Layout "image" }}
               <a class="nav nav-prev" href="{{.Permalink}}" title="{{.Title}}"><i class="fa fa-chevron-left"></i></a>
            {{ else }}
               <a class="nav nav-prev" href="{{.Parent.Permalink}}{{$indexPage}}/" title="{{.Parent.Title}}"><i class="fa fa-arrow-up"></i></a>
            {{ end }}
         {{ else}}
            <a class="nav nav-prev" href="{{.Parent.Permalink}}{{$indexPage}}/" title="{{.Parent.Title}}"><i class="fa fa-arrow-up"></i></a>
         {{ end }}
         {{ with .PrevInSection }}
            {{ if eq .Layout "image" }}
               <a class="nav nav-next" href="{{.Permalink}}" title="{{.Title}}"><i class="fa fa-chevron-right"></i></a>
            {{ else }}
               <a class="nav nav-next" href="{{.Parent.Permalink}}{{$indexPage}}/" title="{{.Parent.Title}}"><i class="fa fa-arrow-up"></i></a>
            {{ end }}
         {{ else }}
            <a class="nav nav-next" href="{{.Parent.Permalink}}{{$indexPage}}/" title="{{.Parent.Title}}"><i class="fa fa-arrow-up"></i></a>
         {{ end }}
      </div>

   </div>
{{ end }}
