{{ define "main" }}

   {{ $indexPage := "gallery-index" }}


{{if .Site.Params.debug }}
   {{ $node := . }}
   {{ if gt .Parent.Sections 0 }}
      {{ $match := 0 }}
      {{ $neighbours := slice }}
      {{ range .Parent.Pages.ByTitle }}
         {{ if eq (path.Base .RelPermalink) $indexPage }}
            {{ $neighbours = append . $neighbours }}
         {{end}}
      {{ end }}
      {{ $neighbours = append .Parent.Sections.ByTitle $neighbours }}
      {{ with $neighbours }}
         {{ $i := 0 }}
         {{ range . }}
-           {{.}}<br/>
            {{ if eq . $node }}
               {{ $match = $i }}
            {{ end }}
            {{ $i = add $i 1 }}
         {{ end }}
      {{ end }}
      {{ $prev := index $neighbours (sub $match 1) }}
      {{ $next := index $neighbours (add $match 1) }}
      {{$prev}} <<< {{.}} >>> {{$next}}
   {{ else}}
      {{ with .Parent }}
         {{ $match := 0 }}
         {{ $neighbours := .Parent.Sections.ByTitle }}
         {{ with $neighbours }}
            {{ $i:=0 }}
            {{ range . }}
-              {{.}}<br/>
               {{ if .IsAncestor $node }}
                  {{ $match = $i }}
               {{ end }}
               {{ $i = add $i 1 }}
            {{ end }}
         {{ end }}
         {{ $prev := index $neighbours (sub $match 1) }}
         {{ $next := index $neighbours (add $match 1) }}
         {{$prev}} <<< {{.}} >>> {{$next}}
      {{ end }}
   {{ end }}
   <hr/>
{{ end }} {{/* of debug */}}


   <div class="padding highlightable">
      {{ partial "topbar.html" . }}
      <div id="body-inner">
         {{ with .Parent }}
            <h1>{{ .Title }}</h1>
            {{ .Content }}
            {{ $pics := where .Pages "Layout" "eq" "image" }}
            {{ if gt (len $pics) 0 }}
               <p style = "margin-top: 1.5rem; padding-left: 0.4rem; background: var(--MAIN-COMMENT-HEADER-BG-color);">
                  In dieser Galerie gibt es {{len $pics}} Bild {{- if ne (len $pics) 1 -}} er {{- end -}}:
               </p>
               {{ range $pics.ByWeight }}
                  {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink "thumbnail.jpg") "caption" .Title) }}
               {{ end }}
            {{ end }}
         {{ end }}
      </div>

      <div id="navigation">
         {{ $node := . }}
         {{ if gt .Parent.Sections 0 }}
            {{ $match := 0 }}
            {{ $neighbours := slice }}
            {{ range .Parent.Pages.ByTitle }}
               {{ if eq (path.Base .RelPermalink) $indexPage }}
                  {{ $neighbours = append . $neighbours }}
               {{end}}
            {{ end }}
            {{ $neighbours = append .Parent.Sections.ByTitle $neighbours }}
            {{ with $neighbours }}
               {{ $i := 0 }}
               {{ range . }}
                  {{ if eq . $node }}
                     {{ $match = $i }}
                  {{ end }}
                  {{ $i = add $i 1 }}
               {{ end }}
            {{ end }}
            {{ $prev := index $neighbours (sub $match 1) }}
            {{ $next := index $neighbours (add $match 1) }}
            {{ with $prev }}
               {{ if .Sections }}
                  <a class="nav nav-prev" href="{{.RelPermalink}}" title="{{.Title}}"> <i class="fa fa-chevron-left"></i></a>
               {{ else }}
                  {{$targetLink := .RelPermalink}}
                  {{$targetLink = replace $targetLink "gallery-index" ""}}
                  <a class="nav nav-prev" href="{{$targetLink}}{{$indexPage}}/" title="{{.Title}}"> <i class="fa fa-chevron-left"></i></a>
               {{ end }}
            {{ else }}
               <a class="nav nav-prev" href="{{.Parent.RelPermalink}}" title="{{.Parent.Title}}"> <i class="fa fa-arrow-up"></i></a>
            {{ end}}
            {{ with $next }}
               {{ if .Sections }}
                  <a class="nav nav-next" href="{{.RelPermalink}}" title="{{.Title}}"><i class="fa fa-chevron-right"></i></a>
               {{ else }}
                  {{$targetLink := .RelPermalink}}
                  {{$targetLink = replace $targetLink "gallery-index" ""}}
                  <a class="nav nav-next" href="{{$targetLink}}{{$indexPage}}/" title="{{.Title}}"><i class="fa fa-chevron-right"></i></a>
               {{ end }}
            {{ else }}
               <a class="nav nav-next" href="{{.Parent.RelPermalink}}" title="{{.Parent.Title}}"> <i class="fa fa-arrow-up"></i></a>
            {{ end }}
         {{ else}}
            {{ with .Parent }}
               {{ $match := 0 }}
               {{ $neighbours := .Parent.Sections.ByTitle }}
               {{ with $neighbours }}
                  {{ $i:=0 }}
                  {{ range . }}
                     {{ if .IsAncestor $node }}
                        {{ $match = $i }}
                     {{ end }}
                     {{ $i = add $i 1 }}
                  {{ end }}
               {{ end }}
               {{ $prev := index $neighbours (sub $match 1) }}
               {{ $next := index $neighbours (add $match 1) }}
               {{ with $prev }}
                  {{ if .Sections }}
                     <a class="nav nav-prev" href="{{.RelPermalink}}" title="{{.Title}}"> <i class="fa fa-chevron-left"></i></a>
                  {{ else }}
                     {{$targetLink := .RelPermalink}}
                     {{$targetLink = replace $targetLink $indexPage ""}}
                     <a class="nav nav-prev" href="{{$targetLink}}{{$indexPage}}/" title="{{.Title}}"> <i class="fa fa-chevron-left"></i></a>
                  {{ end }}
               {{ else }}
                  <a class="nav nav-prev" href="{{.Parent.RelPermalink}}" title="{{.Parent.Title}}"> <i class="fa fa-arrow-up"></i></a>
               {{ end}}
               {{ with $next }}
                  {{ if .Sections }}
                     <a class="nav nav-next" href="{{.RelPermalink}}" title="{{.Title}}"><i class="fa fa-chevron-right"></i></a>
                  {{ else }}
                     {{$targetLink := .RelPermalink}}
                     {{$targetLink = replace $targetLink $indexPage ""}}
                     <a class="nav nav-next" href="{{$targetLink}}{{$indexPage}}/" title="{{.Title}}"><i class="fa fa-chevron-right"></i></a>
                  {{ end }}
               {{ else }}
                  <a class="nav nav-next" href="{{.Parent.RelPermalink}}" title="{{.Parent.Title}}"> <i class="fa fa-arrow-up"></i></a>
               {{ end }}
            {{ end }}
         {{ end }}
      </div>

   </div>
{{ end }}
