{{ define "main" }}

   {{ $max_images := .Site.Params.galleryPreviewStripSize }}

   {{ $indexPage := "gallery-index" }}
   {{ $thumbnailFile := "thumbnail.jpg" }}
   {{ $no_pics_thumb := "/images/Fragezeichen-gelb.jpg" }}


   {{ $iconAlbum := "fas fa-book" }}
   {{ $iconGallery := "far fa-images" }}
   {{ $iconPhoto := "fas fa-camera-retro" }}


{{if .Site.Params.debug }}
   {{- $struct := partial "gallery/get-section-structure.html" . -}}
   {{ range $struct.myCollection }}
      <i class="{{- $iconGallery -}}">*</i> {{ .Title }}({{ $indexPage }}) (<i class="{{- $iconPhoto -}}"></i> {{ len $struct.pics }})<br/>
      {{ range first $max_images $struct.pics.ByWeight }}
--       <i class="{{- $iconPhoto -}}"></i> {{ .Title }} <i class="fas fa-weight-hanging"></i> {{ .Weight }}<br/>
      {{ end }}
   {{ end }}
   <br/>
   {{ range $struct.sections.ByTitle }}
      {{ if gt (intersect $struct.alben (slice .)) 0 }}
         {{- $struct := partial "gallery/get-section-structure.html" . -}}
         <i class="{{- $iconAlbum -}}"></i> {{ .Title }}
         (
         <i class="{{- $iconAlbum -}}"></i> {{ len $struct.alben }}
         /
         <i class="{{- $iconGallery -}}"></i> {{ add (len $struct.collections) (len $struct.myCollection) -}}
         )
         <br/>
         {{ range first 1 $struct.myCollection }}
-           <i class="{{- $iconGallery -}}"></i> {{ .Title}} ({{ $indexPage }}) (<i class="{{- $iconPhoto -}}"></i> {{ len $struct.pics }})<br/>
         {{ end }}
         {{ range first 1 $struct.pics.ByWeight }}
--          <i class="{{- $iconPhoto -}}"></i> {{ .Title }} <i class="fas fa-weight-hanging"></i> {{ .Weight }}<br/>
         {{ end }}
         {{ $n := 4 }}
         {{ if $struct.pics }}
            {{ $n = 3 }}
         {{ end }}
         {{ range first $n $struct.sections.ByTitle }}
            {{ if gt (intersect $struct.alben (slice .)) 0 }}
               {{- $struct := partial "gallery/get-section-structure.html" . -}}
-              <i class="{{- $iconAlbum -}}"></i> {{ .Title }}
               (
               <i class="{{- $iconAlbum -}}"></i> {{ len $struct.alben }}
               /
               <i class="{{- $iconGallery -}}"></i> {{ add (len $struct.collections) (len $struct.myCollection) -}}
               )
               <br/>
               {{ range first 1 $struct.pics.ByWeight }}
--                <i class="{{- $iconPhoto -}}"></i> {{ .Title }} <i class="fas fa-weight-hanging"></i> {{ .Weight }}<br/>
               {{ else }}
                  [
                  {{ $theThumbnail := slice }}
                  {{ range $struct.sections.ByTitle }}
                     {{- $struct := partial "gallery/get-section-structure.html" . -}}
                     {{ if not $theThumbnail }}
                        {{ $theThumbnail = $struct.pics.ByWeight }}
                     {{ else }}
                        FEHLANZEIGE - KEIN BILD !
                     {{ end }}
                  {{ end }}
                  {{ range first 1 $theThumbnail }}
--                   <i class="{{- $iconPhoto -}}"></i> {{ .Title }} <i class="fas fa-weight-hanging"></i> {{ .Weight }}
                  {{ end }}
                  ]<br/>
               {{ end }}
            {{ else }}
               {{- $struct := partial "gallery/get-section-structure.html" . -}}
-              <i class="{{- $iconGallery -}}"></i> {{ .Title }} ({{ $indexPage }}) (<i class="{{- $iconPhoto -}}"></i> {{ len $struct.pics }})
               <br/>
               {{ range first 1 $struct.pics.ByWeight }}
--                <i class="{{- $iconPhoto -}}"></i> {{ .Title }} <i class="fas fa-weight-hanging"></i> {{ .Weight }}<br/>
               {{ end }}
            {{ end }}
         {{ end }}
         {{ $a := sub (len $struct.alben) (len (intersect $struct.alben (first $n $struct.sections))) }}
         {{ $c := sub (len $struct.collections) (len (intersect $struct.collections (first $n $struct.sections))) }}
         {{ if gt $a 0 }}
-           +{{ $a }} <i class="{{- $iconAlbum -}}"></i><br/>
         {{ end }}
         {{ if gt $c 0 }}
--          +{{ $c }} <i class="{{- $iconGallery -}}"></i><br/>
         {{ end }}
      {{ else }}
         {{- $struct := partial "gallery/get-section-structure.html" . -}}
         <i class="{{- $iconGallery -}}"></i> {{ .Title }} ({{ $indexPage }}) (<i class="{{- $iconPhoto -}}"></i> {{ len $struct.pics }})
         <br/>
         {{ range first $max_images $struct.pics.ByWeight }}
--          <i class="{{- $iconPhoto -}}"></i> {{ .Title }} <i class="fas fa-weight-hanging"></i> {{ .Weight }}<br/>
         {{ end }}
         {{ $p := sub (len $struct.pics) $max_images }}
         {{ if gt $p 0 }}
--          +{{ $p }} <i class="{{- $iconPhoto -}}"></i><br/>
         {{ end }}
      {{ end }}
      <br/>
   {{ end }}
   <hr/>
   {{ if ne .CurrentSection .FirstSection }}
PP    {{.CurrentSection}}<br/>
      {{ $node := . }}
      {{ $match := 0 }}
      {{ $neighbours := slice }}
      {{ range .Parent.Pages.ByTitle }}
         {{ if eq (path.Base .RelPermalink) $indexPage }}
            {{ if gt .Parent.Pages 1 }}
* {{.Parent}}: S {{.Parent.Sections}} P {{.Parent.Pages}}<br/>
               {{ $neighbours = append . $neighbours }}
            {{end}}
         {{end}}
      {{ end }}
      {{ $neighbours = append .Parent.Sections.ByTitle $neighbours }}
      {{ with $neighbours }}
         {{ $i := 0 }}
         {{ range . }}
-           {{.}}<br/>
            {{ if eq . $node }}
               {{ $match = $i }}
            {{ end }}
            {{ $i = add $i 1 }}
         {{ end }}
      {{ end }}
      {{ $prev := index $neighbours (sub $match 1) }}
      {{ $next := index $neighbours (add $match 1) }}
      {{$prev}} <<< {{.}} >>> {{$next}}<br/>
   {{ end }}
   <hr/>
{{ end }} {{/* of debug */}}


   <div class="padding highlightable">
      {{ partial "topbar.html" . }}

      <div id="body-inner">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
         {{- $struct := partial "gallery/get-section-structure.html" . -}}
         {{ range $struct.myCollection }}
            {{ $len_pics := len $struct.pics }}
            <p class="separator">
               In der hiesigen Galerie <a style = "text-indent: 0rem;" href = "{{- .RelPermalink -}}{{- $indexPage -}}/"><i>{{.Title}}</i></a>
               gibt es {{if gt $len_pics $max_images}} insgesamt {{end}} {{$len_pics}} Bild {{- if ne $len_pics 1 -}} er {{- end -}}
               {{- if gt $len_pics $max_images -}}. Das sind die ersten {{$max_images}} Einträge {{- end -}}:
            </p>
            <div class="bilderpool-gallery">
               {{ range first $max_images $struct.pics.ByWeight }}
                  {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink $thumbnailFile) "caption" .Title) }}
               {{ end }}
            </div>
         {{ end }}
         {{ range $struct.sections.ByTitle }}
            {{ if gt (intersect $struct.alben (slice .)) 0 }}
               {{- $struct := partial "gallery/get-section-structure.html" . -}}
               <div class="tooltip" style="width: 100%;">
                  <h4 class="separator">
                     <a class= "truncate-elli"
                        href = "{{- .RelPermalink -}}">
                        <i class="{{- $iconAlbum -}}" style="color: var(--MAIN-TEXT-color);"></i>
                        {{ .Title }}
                     </a>
                  </h4>
                  <span class="tooltiptext">
                     {{ .Title }}
                     <br/>
                     {{ if len $struct.alben }}
                        <i class="{{- $iconAlbum -}}"></i> {{ len $struct.alben }}
                     {{ end }}
                     {{ if or (len $struct.collections) (len $struct.myCollection) }}
                        {{ if len $struct.alben }}
                           <i style="padding-right: 1rem;"></i>
                        {{ end }}
                        <i class="{{- $iconGallery -}}"></i> {{ add (len $struct.collections) (len $struct.myCollection) }}
                     {{ end }}
                  </span>
               </div>
               {{ truncate 300 .Content }}
               {{ range first 1 $struct.myCollection }}
                  {{ $collectionTitle := .Title }}
                  {{ $collectionLink := printf "%s%s" .RelPermalink $indexPage }}
                  {{ range first 1 $struct.pics.ByWeight }}
                     {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink $thumbnailFile) "caption" .Title "collTitle" $collectionTitle "collLink" $collectionLink "collIcon" "pics" "pnum" (len $struct.pics)) }}
                  {{ end }}
               {{ end }}
               {{ $n := 4 }}
               {{ if $struct.pics }}
                  {{ $n = 3 }}
               {{ end }}
               {{ $head := first $n $struct.sections.ByTitle }}
               {{ $tail := after $n $struct.sections.ByTitle }}
               {{ range $head }}
                  {{ if gt (intersect $struct.alben (slice .)) 0 }}
                     {{ $theThumbnail := slice }}
                     {{ $collectionTitle := .Title }}
                     {{ $collectionLink := .RelPermalink }}
                     {{- $struct := partial "gallery/get-section-structure.html" . -}}
                     {{ range first 1 $struct.pics.ByWeight }}
                        {{ $theThumbnail = . }}
                        {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink $thumbnailFile) "caption" .Title "collTitle" $collectionTitle "collLink" $collectionLink "collIcon" "cat" "anum" (len $struct.alben) "gnum" (add (len $struct.collections) (len $struct.myCollection))) }}
                     {{ else }}
                        {{ range $struct.sections.ByTitle }}
                           {{- $struct := partial "gallery/get-section-structure.html" . -}}
                           {{ if not $theThumbnail }}
                              {{ $theThumbnail = first 1 $struct.pics.ByWeight }}
                           {{ end }}
                        {{ end }}
                        {{ $collectionTitle := .Title }}
                        {{ $collectionLink := .RelPermalink }}
                        {{ range $theThumbnail }}
                           {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink $thumbnailFile) "caption" .Title "collTitle" $collectionTitle "collLink" $collectionLink "collIcon" "cat" "anum" (len $struct.alben) "gnum" (add (len $struct.collections) (len $struct.myCollection))) }}
                        {{ else }}
                           {{/* FEHLANZEIGE - KEIN BILD ! */}}
                           {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" $no_pics_thumb "caption" .Title "collTitle" $collectionTitle "collLink" .RelPermalink "collIcon" "cat" "anum" (len $struct.alben) "gnum" (add (len $struct.collections) (len $struct.myCollection))) }}
                        {{ end }}
                     {{ end }}
                  {{ else }}
                     {{- $struct := partial "gallery/get-section-structure.html" . -}}
                     {{ $collectionTitle := .Title }}
                     {{ $collectionLink := printf "%s%s" .RelPermalink $indexPage }}
                     {{ range first 1 $struct.pics.ByWeight }}
                        {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink $thumbnailFile) "caption" .Title "collTitle" $collectionTitle "collLink" $collectionLink "collIcon" "pics" "pnum" (len $struct.pics)) }}
                     {{ end }}
                  {{ end }}
               {{ end }}
               {{ if $tail }}
                  <p>
                     &#8230; und außerdem noch
                     :<br/>
                     {{ range $tail.ByTitle }}
                        {{ if gt (intersect $struct.alben (slice .)) 0 }}
                           <span class="{{ $iconAlbum }}"></span>
                           <a href="{{ .RelPermalink }}">{{ .Title }}</a><br/>
                        {{ else }}
                           <span class="{{ $iconGallery }}"></span>
                           <a href="{{ .RelPermalink }}/{{ $indexPage}}/">{{ .Title }}</a><br/>
                        {{ end }}
                     {{ end }}
                  </p>
               {{ end }}
            {{ else }}
               {{- $struct := partial "gallery/get-section-structure.html" . -}}
               <div class="tooltip" style="width: 100%;">
                  <h4 class="separator">
                     <a class= "truncate-elli"
                        href = "{{- .RelPermalink -}}{{- $indexPage -}}/">
                        <i class="{{- $iconGallery -}}" style="color: var(--MAIN-TEXT-color);"></i>
                        {{ .Title }}
                     </a>
                  </h4>
                  <span class="tooltiptext">
                     {{ .Title }}
                     <br/>
                     <i class="{{- $iconPhoto -}}"></i> {{ len $struct.pics }}
                  </span>
               </div>
               {{ truncate 300 .Content }}
               {{ range first $max_images $struct.pics.ByWeight }}
                  {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink "thumbnail.jpg") "caption" .Title) }}
               {{ end }}
               {{ $p := sub (len $struct.pics) $max_images }}
               {{ if gt $p 0 }}
                  <p>
                     &#8230; und außerdem noch {{ $p }}
                     weitere {{- if eq $p 1 -}} s {{ end }}
                     Bild {{- if gt $p 1 -}} er {{- end -}}.
                  </p>
               {{ end }}
            {{ end }}
            <br/>
         {{ end }}
      </div>

      {{ if ne .CurrentSection .FirstSection }}
         <div id="navigation">
            {{ $node := . }}
            {{ $match := 0 }}
            {{ $neighbours := slice }}
            {{ range .Parent.Pages.ByTitle }}
               {{ if eq (path.Base .RelPermalink) $indexPage }}
               {{ if gt .Parent.Pages 1 }}
                  {{ $neighbours = append . $neighbours }}
               {{end}}
               {{end}}
            {{ end }}
            {{ $neighbours = append .Parent.Sections.ByTitle $neighbours }}
            {{ with $neighbours }}
               {{ $i := 0 }}
               {{ range . }}
                  {{ if eq . $node }}
                     {{ $match = $i }}
                  {{ end }}
                  {{ $i = add $i 1 }}
               {{ end }}
            {{ end }}
            {{ $prev := index $neighbours (sub $match 1) }}
            {{ $next := index $neighbours (add $match 1) }}
            {{ with $prev }}
               {{ if .Sections }}
                  <a class="nav nav-prev" href="{{.RelPermalink}}" title="{{.Title}}"> <i class="fa fa-chevron-left"></i></a>
               {{ else }}
                  {{$targetLink := .RelPermalink}}
                  {{$targetLink = replace $targetLink $indexPage ""}}
                  <a class="nav nav-prev" href="{{$targetLink}}{{$indexPage}}/" title="{{.Title}}"> <i class="fa fa-chevron-left"></i></a>
               {{ end }}
            {{ else }}
               <a class="nav nav-prev" href="{{.Parent.RelPermalink}}" title="{{.Parent.Title}}"> <i class="fa fa-arrow-up"></i></a>
            {{ end}}
            {{ with $next }}
               {{ if .Sections }}
                  <a class="nav nav-next" href="{{.RelPermalink}}" title="{{.Title}}"><i class="fa fa-chevron-right"></i></a>
               {{ else }}
                  {{$targetLink := .RelPermalink}}
                  {{$targetLink = replace $targetLink $indexPage ""}}
                  <a class="nav nav-next" href="{{$targetLink}}{{$indexPage}}/" title="{{.Title}}"><i class="fa fa-chevron-right"></i></a>
               {{ end }}
            {{ else }}
               <a class="nav nav-next" href="{{.Parent.RelPermalink}}" title="{{.Parent.Title}}"> <i class="fa fa-arrow-up"></i></a>
            {{ end }}
         </div>
      {{ end }}

   </div>
{{ end }}
