{{ define "main" }}

  <div class="padding highlightable">
    {{ partial "topbar.html" . }}

      <div id="body-inner">
          <h1>{{.Title}}</h1>
          <ul>
          {{ range .Pages.ByTitle }}
           <li> <a href = "{{ .RelPermalink }}">{{- .Title -}}</a> </li>
          {{ end }}
          </ul>

      </div> 
  </div>
{{ end }}
