{{ define "main" }}

  <div class="padding highlightable">
    {{ partial "topbar.html" . }}

      <div id="body-inner">
        <h1>{{.Title}}</h1>
          {{.Content}}
          <label for="searchstring" style="margin-top:1em;">Suchbegriff eingeben</label>
          <input type="search" id="searchstring" placeholder="Suche..." onkeydown="if(event.keyCode == 13) {ftpediasearch()}" autofocus>
          <button type="button" id="startsearch" class="submitbutton" style="border:3px solid blue" onclick=ftpediasearch()>Suche starten</button>
          <header>
          </header>
          <div id = "inhalt">
          </div>
      </div> 

  </div>

  <script type="text/javascript" src="{{"js/ftpedia-search.js" | relURL}}">
  </script> 

{{ end }}
