 
{{ define "main" }}

   <div class="padding highlightable">
      {{ partial "topbar.html" . }}

            <div id="body-inner">
         <h1>{{.Title}}</h1>

         {{ .Content }}
         
        {{ range .RegularPages.ByWeight }}
            <p>
               <a href = "{{ .RelPermalink }}"><i class="fas fa-book-reader"></i></a>
               -
               <a href = "{{ .RelPermalink }}" style = "color: Black;">Doku zu "{{- .Params.topic -}}"</a>
            </p>
        {{ end }}
        
        {{ range .Sections.ByWeight }}
         <hr>
         <h4>
            <a href = "{{ .RelPermalink }}"> <i class="far fa-folder-open"></i> </a>
            -
            <a href = "{{ .RelPermalink }}" style = "color: Black;"> {{ .Title }} </a>
         </h4>
      {{ end }}
        
      Stand: {{ .Params.stand -}}
         
       </div> 
   </div>

{{ end }}
