{{$license := .Params.license }}

{{if eq $license "by-nc-sa" }}
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.de"><img alt="Creative Commons Lizenzvertrag" style="border-width:0; margin:0; display:inline; vertical-align: top" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
{{ else if (eq $license "by-nc") }}
    <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/deed.de"><img alt="Creative Commons Lizenzvertrag" style="border-width:0; margin:0; display:inline; vertical-align: top" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
{{ else }}
    {{ $license }}
{{ end }}
