<nav id = "sidebar">

   <!-- Site Logo und Suchfeld  -->
   <!-- Site logo and searchbox -->
   <!-- ----------------------- -->
   <div id = "header-wrapper">
      <div id = "header">
         {{partialCached "logo.html" .}}
      </div>
   </div>

   <div class = "highlightable" style= "color: #8f8;">
{{if .Site.Params.debug}}
   hugo v{{.Hugo.Version}}
{{end}}
      <!-- Menüeinträge links     -->
      <!-- Menu items on the left -->
      <!-- ---------------------- -->
      {{/* find the item to highlight */}}
      {{/* -------------------------- */}}
      {{$this := .}}
      {{$p := .}}
      {{$actNode := .}}
      {{$flag := true}}
      {{range after 2 (split .RelPermalink "/")}}
         {{with $p}}
            {{if and $flag (not .Params.hidden) (not (eq .Layout "image"))}}
               {{$actNode = .}}
               {{$flag = false}}
            {{end}}
            {{$p = .Parent}}
         {{end}}
      {{end}}

      {{/* construct the page tree (recursive) */}}
      {{/* ----------------------------------- */}}
      <ul style="margin: 0 1rem; font-size: 18px;">
         {{range .Site.Home.Sections.ByWeight}}
            {{template "menu-nodes" dict "node" . "here" $this "activate" $actNode}}
         {{end}}
      </ul>

      {{/* construct extra enries */}}
      {{/* ---------------------- */}}
      {{partialCached "menu-shortcuts.html" .}}

      <!-- Neueste ft:pedia oder der Teaser -->
      <!-- Most recent ft:pedia or a teaser -->
      <!-- -------------------------------- -->
      <hr style="color: Gray; border-color: Gray; border-width: 1px;">
      {{partialCached "menu-ftpedia-youngest.html" .}}

      <section id="footer" style="padding-top: 0;">
         <hr style="color: Gray; border-color: Gray; border-width: 1px;">
         <p>Gebaut mit <a href="http://gohugo.io/">Hugo</a></p>
      </section>
   </div>
</nav>

{{define "menu-nodes"}}
   {{$here := .here}}
   {{$activate := .activate}}
   {{with .node}}
      {{$target := .RelPermalink}}
      {{if and (eq .Section "bilderpool") (not .Sections) }}
         {{$target = printf "%s%s/" $target "gallery-index" }}
      {{end}}
      <li>
         <a {{if eq . $activate}}style = "background-color: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);" id = "activeMenuItem"{{end}} href = "{{$target}}">
            {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
         </a>
         {{if .IsAncestor $here}}
            {{/*$entries := append .Sections .Pages*/}} {{/* << bis incl. hugo 0.56.x */}}
            {{/*$entries := append .Sections .RegularPages*/}} {{/* <<= ab hugo 0.57.x */}}
            {{/*$entries := .Pages*/}} {{/* <<= ab hugo 0.57.x */}}
            {{$entries := .Sections}} {{/* <<= alle hugos, aber keine Einzelseiten (so ist es derzeit auch gewünscht) */}}
            {{$entries = where $entries "Params.hidden" "ne" true}}
            {{$entries = where $entries "Layout" "ne" "image"}}
            <ul>
                {{if eq .Section "bilderpool"}}
                    {{range $entries.ByTitle}}
                        {{template "menu-nodes" dict "node" . "here" $here "activate" $activate}}
                    {{end}}
                {{else}}
                    {{range $entries}}
                        {{template "menu-nodes" dict "node" . "here" $here "activate" $activate}}
                    {{end}}
                {{ end }}
            </ul>
         {{end}}
      </li>
   {{end}}
{{end}}
