<div>
  <div id="top-bar">
    <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <span id="sidebar-toggle-span">
        <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
          <i class="fas fa-bars"></i>
        </a>
      </span>
      <span class="links">
        {{$showBreadcrumb := (and (not .Params.disableBreadcrumb) (not .Site.Params.disableBreadcrumb))}}
        {{if $showBreadcrumb}}
          {{ template "breadcrumb" dict "page" . "value" .Title }}
        {{ else }}
          {{ .Title }} 
        {{ end }}
      </span>
    </div>
  </div>
</div>

{{define "breadcrumb"}}
  {{$parent := .page.Parent }}
  {{ if $parent }}
    {{ $value := (printf "<a href='%s'>%s</a> > %s" $parent.Permalink $parent.Title .value) }}
    {{ template "breadcrumb" dict "page" $parent "value" $value }} 
  {{else}}
    {{.value|safeHTML}}
  {{end}}
{{end}}


