{{ define "main" }}

   {{ $wir_email := .Site.Params.email_uns }}
   {{ $email_subject := "Defekter Link / Broken Link" }}
   {{ $scratch2 := newScratch }}
   {{ printf "Hallo ihr Lieben,\n\n" | $scratch2.Set "email_body" }}
   {{ printf "angekommen bin ich mit dem Link \n<hier die URL einfügen>\n" | $scratch2.Add "email_body" }}
   {{ printf "aber ich lande bei Euch damit leider nur auf der 404-Seite.\n" | $scratch2.Add "email_body" }}
   {{ printf "Ist das vielleicht ein veralteter Link, dem die Umleitung fehlt?\n" | $scratch2.Add "email_body" }}
   {{ printf "\nGrüße\n..." | $scratch2.Add "email_body" }}
   {{/* printf "" | $scratch2.Add "email_body" */}}
   {{/* printf "" | $scratch2.Add "email_body" */}}


   <div class="padding highlightable">
      {{ partial "topbar.html" . }}
      <div id="body-inner">
         <img style="width: 280px;
                     box-sizing: border-box;
                     transform: rotate(-7.5deg);
                     -moz-transform: rotate(-7.5deg);
                     -webkit-transform: rotate(-7.5deg);
                     float: left;
                     margin-top: 40px;
                     margin-left: 25px;
                     margin-right: 60px;
                     margin-bottom: 25px;"
              src="/images/404.jpg">
         <h1>Bitte entschuldige dieses Durcheinander!
         </h1>
     
         <p style="text-align: justify;">
            Du bist hierher geraten, weil sich ein Hyperlink geändert hat
            oder gar die ganze Seite komplett erneuert wurde. Da gerät die
            wohlsortierte Ordnung schnell durcheinander und nichts ist mehr
            an seinem gewohnten Platz.
         </p>
         <img style="width: 180px;
                     box-sizing: border-box;
                     transform: rotate(7.5deg);
                     -moz-transform: rotate(7.5deg);
                     -webkit-transform: rotate(7.5deg);
                     float: right;
                     margin-top: 25px;
                     margin-left: 60px;
                     margin-right: 25px;
                     margin-bottom: 25px;"
              src="/images/Durcheinander.jpg">
         <p style="text-align: justify;">
            Bitte schau einmal links ins Seitenmenu. Möglicherweise kommst Du
            über die dortigen Einträge bereits weiter.
            Unsere <a href="/">Homepage</a> erreichst Du immer durch einen
            Klick auf das Logo über dem Suchfeld.
            Die neueste <a href="/ftpedia/">ft:pedia</a> ist im Menu besonders
            hervorgehoben.
            Wenn Du versehentlich aus dem
            <a href="https://forum.ftcommunity.de/">ftc-Forum</a>
            'abgestürzt' bist, führt natürlich auch ein Weg dorthin zurück.
         </p>
         <p style="text-align: justify;">
            Alternativ probierst Du unsere Suchfunktion (gleich unter dem Logo).
            Die findet so ziemlich alles was es hier zu finden gibt.
            Das <a href="https://forum.ftcommunity.de/">Forum</a>
            hat allerdings seine eigene Suchfunktion, die nur von dort aus
            benutzt werden kann.
         </p>
         <p style="text-align: justify;">
            Falls die gewünschte Seite beim Umzug oder einer redaktionellen
            Überarbeitung verschütt' ging, lässt sich vielleicht etwas machen.
            Bitte schick'
            <a href="mailto: {{- $wir_email -}}
               ?subject={{- $email_subject -}}
               &body={{- $scratch2.Get "email_body" -}}"
               target="_top">uns</a>
            eine freundliche eMail mit dem Link und weiteren Infos.
         </p>
         <p style="text-align: justify;">
            Oder aber ... Du vergisst einfach, weswegen Du ursprünglich zu uns
            gekommen bist, entspannst Dich und tauchst mit einem dieser
            zufälligen Links in unsere <a href="/bilderpool/">Galerien</a>
            mit
            {{ $images := len (where (where .Site.Pages "Section" "bilderpool") "Layout" "image") }}
            {{ if gt $images 1000 }}
               {{ $images = div $images 1000.0 }}
               {{ $images = math.Floor $images }}
               {{ $images = mul $images 1000 }}
               über
            {{ end }}
            {{ $images }} Bildern ab:
         </p>
         {{ $angebot := where .Site.Pages "Section" "bilderpool" }}
         {{ $angebot = where $angebot "Layout" "image" }}
         {{ range first 4 (shuffle $angebot) }}
                  {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink "thumbnail.jpg") "caption" .Title) }}
         {{ end }}
         Viel Vergnügen<br/>
         - Das Team der ftc -
      </div>
   </div>
{{ end }}
