{{ define "main" }}

  <div class="padding highlightable">
    {{ partial "topbar.html" . }}

      <div id="body-inner">
          <h1>{{.Title}}</h1>
            {{ range .Pages.ByTitle }}
                <a href = "{{ .RelPermalink }}">{{- .Title -}}</a>, 
            {{ end }}
      </div> 
  </div>
{{ end }}
