{{ define "main" }}

  <div class="padding highlightable">
    {{ partial "topbar.html" . }}

      <div id="body-inner">
        <h1>{{.Title}}</h1>
          {{.Content}}
          <i>Hinweise zur Verwendung:</i><button type="button" id="searchHelpBtn" value="0" onclick=toggleSearchHelp()><i class="fas fa-info-circle"></i></button>
          <ul id="searchhelp" style="display:none;">
            <li>Die Suche basiert auf ganzen Wörtern (z. B. <code>Test</code> findet "Test", "Der Test", "test setup" usw.)</li>
            <li>Groß- und Kleinschreibung werden nicht unterschieden (z. B. <code>Test</code> findet "Test", "test", "TEST")</li>
            <li>Verwendung von `*` als Platzhalter für Wortteile (z. B. <code>*kran</code> findet "Portalkran", "Hafenkran",
                "Baukran", aber nicht "Kranich")</li>
            <li>Verwendung von <code>-</code> zum Aussschluss von Begriffen (z. B. <code>test -propeller</code> holt alles mit
                "test" aber nur wenn nicht auch noch "Propeller" enthalten ist)</li>
            <li>Begriffe mit Bindestrich in Anführungszeichen setzen (z. B.<code>"P-Schlauch"</code>)</li>
            <li>UND-Kombinatorik (alle Begriffe müssen enthalten sein) per <code> AND </code> (z. B. <code>Flieger AND
                Propeller</code> findet alle Einträge in denen beide Begriffe vorkommen, die Reihenfolge der Begriffe ist egal)</li>
            <li>ODER-Kombinatorik (einer der Begriffe muss enthalten sein) per <code> OR </code> (z. B. <code>Flieger OR
                Propeller</code> findet alle Einträge in denen einer der Begriffe vorkommt); alternativ das <code>OR</code>
                einfach ganz weglassen, ergibt oft das gleiche Ergebnis.</li>
            <li><i>Wer AND- oder OR-"Silberlinge" sucht, tippt bitte <code>and</code> bzw. <code>or</code> klein geschrieben(!)
                ins Suchfeld (z. B. <code>and AND Baustein</code>).</i></li>
            <li>Informationsgehalt des Ergebnisses per Checkboxen anpassen.</li>
            <li>Zum Filtern der Ergebnisse nach Datum den entsprechenden Knopf betätigen und dann in den beiden Datumsfeldern Start- und Endedatum auswählen. 
            Der Filter funktioniert nur, wenn die Datumsfelder sichtbar sind und Einträge für das Datum haben.</li>
            </ul>
          <label for="searchstring" style="margin-top:1em;">Suchbegriff eingeben</label>
          <input type="search" id="searchstring" placeholder="Suche..." onkeydown="if(event.keyCode == 13) {solrsearch(20)}" autofocus>
          <p id="searchAdjust">
          <input type="radio" id="rOpt1" name="order" value="relevant" checked style="margin-left:1em;">
          <label for="rOpt1" style="display:inline; marin-right:1em;">Relevanteste Ergebnisse oben</label>
          <input type="radio" id="rOpt2" name="order" value="newest" style="margin-left:1em;">
          <label for="rOpt2" style="display:inline; marin-right:1em;">Neueste Ergebnisse oben</label>
          <input type="radio" id="rOpt3" name="order" value="oldest" style="margin-left:1em;">
          <label for="rOpt3" style="display:inline; marin-right:1em;">Älteste Ergebnisse oben</label>
          </p>
          <p><button type="button" id="filterDateBtn" value="0" class="submitbutton" onclick=toggleFilterDate()>Filtern nach Datum</button></p>
          <p id="filterDate" style="display:none;">
           <label for="filterDateStart">Von:</label>
            <input type="date" id="filterDateStart" name="filterDateStart" min="2003-04-21" max="{{- now.Format "2006-01-02" -}}"> 
          <label for="filterDateEnd">bis:</label>
            <input type="date" id="filterDateEnd" name="filterDateEnd" min="2003-04-21" max="{{- now.Format "2006-01-02" -}}"> 
          </p>
          <button type="button" id="startsearch" class="submitbutton" style="border:3px solid blue" onclick=solrsearch(20)>Suche starten</button>
          <p id="resultAdjust" style="display:none;">
            <input type="checkbox" id="sOpt1" name="sOpt1" value="" onclick=toggleSlug() style="margin-left:1em;">
            <label for="sOpt1" style="display:inline; margin-right:1em;">Slug</label>
            <input type="checkbox" id="sOpt2" name="sOpt2" value="" onclick=toggleDate() style="margin-left:1em;">
            <label for="sOpt2" style="display:inline; margin-right:1em;">Datum</label>
            <input type="checkbox" id="sOpt3" name="sOpt3" value="" onclick=toggleKonstr() style="margin-left:1em;">
            <label for="sOpt3" style="display:inline; margin-right:1em;">Erbaut von</label>
            <input type="checkbox" id="sOpt4" name="sOpt4" value="" onclick=toggleFoto() style="margin-left:1em;">
            <label for="sOpt4" style="display:inline; margin-right:1em;">Foto von</label>
            <input type="checkbox" id="sOpt5" name="sOpt5" value="" onclick=toggleUpld() style="margin-left:1em;">
            <label for="sOpt5" style="display:inline; margin-right:1em;">Upload von</label>
            im Ergebnis anzeigen.</p>
          <header>
          </header>
          <div id = "inhalt">
          </div>
      </div> 

  </div>

  <script type="text/javascript" src="{{"js/solrsearch.js" | relURL}}">
  </script> 

{{ end }}
